nav{
    background-color: rgba(0, 0, 0, 0.8);
    .navMenu{
        padding: 0;
        width: 45%;
        justify-content: center;
        border-top: solid white 1px;
        border-bottom: solid white 1px;
        margin-top: 35px;
        li{
            list-style: none;
            width: 90%;
            height: 60px;
            padding-top:18px;
            a{
                text-decoration: none;
                color: white;
            }
        }
        li:hover{
            background-color: rgb(196,45,64) ;
        }
    }
}
